/*-------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------*/

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background: #fff;
	color: #fff;
	font-family: 'Ubuntu', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;

}



.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*--------------------------------------------*/

.row {
	max-width: 1140px
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.box {
	padding: 1%;
}

/*---------HEADINGS*---------------*/
h1 {
	margin: 0;
	color: #fff;
	font-size: 400%;
	text-align: center;
}

h2 {
	margin-bottom: 30px;
	color: #fff;
	font-weight: 300;
	font-size: 200%;
	letter-spacing: 1px;
	text-align: center;
}


h2:after {
	display: block;
	height: 2px;
	background-color: #E67E22;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 20px; 
}

h3 {
	font-size: 110%;
	padding-left: 0px;
	margin-bottom: 15px;

}


ion-icon {
	font-size: 64px;
} 


ul {
	display: inline-block;
	text-align: left;

}

/*---------PARAGRAPHS*---------------*/

.bio {
	color: #000;
	line-height: 145%
	color: #000;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	
}
b {
	color: #E67E22;
}


body > div {overflow: auto}
/*------------------------------------------*/
/*HEADER*/
/*------------------------------------------*/

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/dallas.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.title-text-box {
	position: absolute;
	width: 1060px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.main-nav {
	float: right;
	list-style: none;

}

.main-nav li {
	display: inline-block;
	margin-right: 60px;
	margin-top: 20px; 
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%; 
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #E67E22;
}

/*------------------------------------------*/
/*SECTION - ABOUT ME*/
/*------------------------------------------*/

section div h2 {
	text-align: center;
	color: #000;
}



.section-aboutme {

}

/*------------------------------------------*/
/*SECTION - SKILLS*/
/*------------------------------------------*/

.skills {
	color: #000;
	text-align: center;
	background-color: #f4f4f4;
	display: flex;
  	align-items: center;
  	justify-content: center
}







/*------------------------------------------*/
/*SECTION - WORK*/
/*------------------------------------------*/

.showcase {

	list-style: none;
	width: 100%;
}

.showcase li {
	display: block;
	float: left;
	width: 25%;
}

.project {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
	text-align: center;
  	position: relative;
}

.project img {
	opacity: 0.7;
	width: 100%;
	height: 200px;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.project img:hover {
	opacity: 1;
	transform: scale(1.05);
}

.description {
	visibility: hidden;
}


.status {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

/*------------------------------------------*/
/*SECTION - TESTIMONIALS*/
/*------------------------------------------*/

.testimonials {
	color: #fff;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/rawpixel-1090772-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#testimonials {
	color: #fff;
}

blockquote {
	padding: 2%;
	line-height: 145%;
	position: relative;
	margin-top: 40px;
}

blockquote:before {
	content: "\201C";
	font-size: 500%;
	display: block;
	position: absolute;
	top: 5px;
	left: -3px;

}

blockquote:first-of-type {
	margin-left: 30%;
}


cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;

}
cite img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}


/*------------------------------------------*/
/*SECTION - CONTACT*/
/*------------------------------------------*/

.form {
	color: #000;
	width: 60%;
	margin: 0 auto;
	
}

#resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=text],
input[type=email], 
textarea {
	font-family: 'Ubuntu', 'Arial', sans-serif;
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea {
	height: 100px;
}

button {
	background-color: #E67E22;
	color: #fff;
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

button:hover,
button:active {
	background-color: #CF6D17;
	border: 1px solid #CF6D17;
}

/*------------------------------------------*/
/*FOOTER*/
/*------------------------------------------*/

footer {
	background-color: #333;
	padding: 10px;
	font-size: 80%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 30px;
}

.footer-nav li:first-child {
	margin-left: 40px; 
}

.social-links li a:link ion-icon,
.social-links li a:visited ion-icon {
	font-size: 24px;
}

ion-icon[name="logo-linkedin"],
ion-icon[name="logo-github"],
ion-icon[name="logo-twitter"] {
	transition: color 0.5s;
}

ion-icon[name="logo-linkedin"]:hover {
	color: #2867B2;

}

ion-icon[name="logo-github"]:hover {
	color: #6e5494;

}

ion-icon[name="logo-twitter"]:hover {
	color: #1DA1F2;

}

.social-links li:last-child {
	margin-right: 150px;
}

.footer-nav li a:link, 
.footer-nav li a:visited,
.social-links li a:link, 
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;
	transition: color 0.2s;
}

footer p {
	color: #888;
	text-align: center;
	font-size: 80%;
	margin-top: 30px;
}
